#------------------------------------------------------------------------------
# MATLAB
#------------------------------------------------------------------------------

# Compiled MEX files (platform-specific)
*.mex*
*.mexw32
*.mexw64
*.mexa32
*.mexa64
*.mexglx
*.dll
*.so
*.dylib

# MATLAB backup and autosave files
*~
*.asv
*.autosave

# MATLAB project files
*.mlappinstall
*.mltbx
*.mlproj
*.mldatx

# MATLAB code generation
codegen/
slprj/
sfunctions/
_work/

# Simulink
*.slxc
*.slx
*.mdl
*.mdlp
*.slxp
*.sldd
*.sfx

# Unit testing artifacts
*.testresults

# Live scripts checkpoints
*.mlx.autosave

#------------------------------------------------------------------------------
# macOS
#------------------------------------------------------------------------------

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?

#------------------------------------------------------------------------------
# Editor/IDE files
#------------------------------------------------------------------------------

.vscode/
.idea/
*.code-workspace

#------------------------------------------------------------------------------
# User-defined data/output (optional)
#------------------------------------------------------------------------------

# Ignore everything inside flight_log
flight_log/*

# Allow qrbp itself (so we can include specific subfolders)
!flight_log/qrbp/

# Ignore all subdirectories inside qrbp by default
flight_log/qrbp/*

# Allow tracking of specific folders inside qrbp
!flight_log/qrbp/2024_07_23/
!flight_log/qrbp/2024_07_25/
!flight_log/qrbp/2024_10_16/
!flight_log/qrbp/2025_01_31/

# Ensure all files inside those allowed folders are tracked
!flight_log/qrbp/2024_07_23/**
!flight_log/qrbp/2024_07_25/**
!flight_log/qrbp/2024_10_16/**
!flight_log/qrbp/2025_01_31/**

# Ignore everything inside sim-log
sim-log/*

# Allow qrbp itself (so we can include specific subfolders)
!sim-log/qrbp/

# Ignore all subdirectories inside qrbp by default
sim-log/qrbp/*

# Allow tracking of specific folders inside qrbp

# Ensure all files inside those folders are tracked
